.kontakty-container {
    margin-top: 120px;
    border-radius: 8px;
    background-color: rgba(11, 11, 11, 0.643);
    min-height: 400px;
    text-align: center;
    padding-block: 40px;
    padding-inline: 20px;
    font-family: "Poppins", sans-serif;
}

.kontakty-container p {
    color: rgb(193, 193, 193);
    font-size: 25px;
    margin-bottom: 39px;
}

.kontakty-container div {
    font-size: 22px;
    color: rgb(233, 230, 230);
}